  @use 'variables';
  @use 'typography';
  
  // Alertas
  
  .alerta-exito {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: $color-white;
    background-color: $alert-success;
  }
  
  .alerta-exito-sb {
    padding: 1rem;
    margin-bottom: 1rem;
    color: $color-white;
    background-color: $alert-success;
  }

  .alerta-info {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: $color-white;
    background-color: $alert-info;
  }
 
  .alerta-info-sb {
    padding: 1rem;
    margin-bottom: 1rem;
    color: $color-brown;
    background-color: $alert-info;
  }

  .alerta-advertencia {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: $alert-warning;
    color: $color-brown;
  }
  .alerta-advertencia-sb {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $alert-warning;
    color: $color-brown;
  }

  .alerta-error {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: $color-white;
    background-color: $alert-warning;
  }
  
  .alerta-error-sb {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: $color-white;
    background-color: $alert-warning;
  }