@use '../base/variables';
/*Mapa de colores para los bordes*/
$border-colors: (
    primary-dark: variables.$color-primary-dark,
    primary: variables.$color-primary,
    accent-gold: variables.$color-accent-gold,
    white: variables.$color-white,
    primary-deep-dark: variables.$color-primary-deep-dark,
    brown: variables.$color-brown,
    success: variables.$alert-success,
    info: variables.$alert-info,
    warning: variables.$alert-warning,
    danger: variables.$alert-danger
);

/*Clases para bordes de 1 a 5 piseles*/
@each $color-name, $color-value in $border-colors{
    @for $i from 1 through 5{
        .border-#{$color-name}-#{$i}{
            border: #{$i}px solid #{$color-value};
        }
    }
}