// ======INICIO DEL APARTADO COLORES DE FONDO======
@use '../base/variables' as vars;
@use 'sass:color'; //importe el modulo de colores
@use 'sass:list';  //importe del modulo para trabajar con listas

//mezclas de colores usando color.mix()
$mix-color-1: color.mix(vars.$color-3, vars.$color-1, 60%);
$mix-color-2: color.mix(vars.$color-2, vars.$color-5, 40%);

//estilo base
%box-style {
  display: inline-block;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 6px;
  width: auto;
  text-align: center;
  box-sizing: border-box;
}

//border 1 (purpura + dorado)
$border-1-colors: (
  $mix-color-1,
  color.scale($mix-color-1, $lightness: 20%),
  color.scale($mix-color-1, $lightness: -20%),
  $mix-color-1,
  color.scale($mix-color-1, $lightness: -10%),
);

@for $i from 1 through 5 {
  .border-red-1-#{$i}-solid {
    @extend %box-style;
    border: 2px solid list.nth($border-1-colors, $i);  
  }
  .border-red-1-#{$i}-dashed {
    @extend %box-style;
    border: 2px dashed list.nth($border-1-colors, $i);
  }
}

//border 2 (violeta)
$border-2-colors: (
  vars.$color-2,
  color.scale(vars.$color-2, $lightness: 20%),
  color.scale(vars.$color-2, $lightness: -20%),
  $mix-color-2,
  color.scale($mix-color-2, $lightness: -10%),
);

@for $i from 1 through 5 {
  .border-red-2-#{$i}-solid {
    @extend %box-style;
    border: 2px solid list.nth($border-2-colors, $i);  
  }
  .border-red-2-#{$i}-dashed {
    @extend %box-style;
    border: 2px dashed list.nth($border-2-colors, $i);  
  }
}

//border 3 (dorado)
$border-3-colors: (
  vars.$color-3,
  color.scale(vars.$color-3, $lightness: 20%),
  color.scale(vars.$color-3, $lightness: -20%),
  vars.$color-3,
  color.scale(vars.$color-3, $lightness: -10%),
);

@for $i from 1 through 5 {
  .border-red-3-#{$i}-solid {
    @extend %box-style;
    border: 3px solid list.nth($border-3-colors, $i);  
  }
  .border-red-3-#{$i}-dashed {
    @extend %box-style;
    border: 3px dashed list.nth($border-3-colors, $i); 
  }
}

//border 4 (negro + violeta)
$border-4-colors: (
  $mix-color-2,
  color.scale(vars.$color-4, $lightness: 20%),
  color.scale($mix-color-2, $lightness: -20%),
  vars.$color-4,
  color.scale($mix-color-2, $lightness: -40%),
);

@for $i from 1 through 5 {
  .border-red-4-#{$i}-solid {
    @extend %box-style;
    border: 4px solid list.nth($border-4-colors, $i);
  }
  .border-red-4-#{$i}-dashed {
    @extend %box-style;
    border: 4px dashed list.nth($border-4-colors, $i);
  }
}

//border 5 (gradiente rojizo en borde)
$border-5-base-colors: (
  vars.$color-6, // tomato
  color.scale(vars.$color-6, $lightness: 20%),
  color.scale(vars.$color-6, $lightness: -20%),
  vars.$color-6-2, // firebrick
  color.scale(vars.$color-6-2, $lightness: -10%)
);

@for $i from 1 through 5 {
  .border-red-5-#{$i}-solid {
    @extend %box-style;
    border: 5px solid;
    border-image: linear-gradient(
      to right,
      list.nth($border-5-base-colors, $i),
      color.scale(list.nth($border-5-base-colors, $i), $lightness: 20%),
      color.scale(list.nth($border-5-base-colors, $i), $lightness: -20%)
    ) 1;
  }

  .border-red-5-#{$i}-dashed {
    @extend %box-style;
    border: 5px dashed;
    border-color: list.nth($border-5-base-colors, $i);
  }
}
// =====FIN DEL APARTADO DE REDONDEO DE ELEMENTOS=====