
//====INICIO DEL APARTADO DE COLORES DE FONDO=====
@use '../base/variables' as vars;
@use '../base/typography';
@use 'sass:color'; //importe del modulo de color

//fondos solidos (1 al 5)
.bg-color-1 {
  background-color: vars.$color-secondary-purple;
}
.bg-color-2 {
  background-color: vars.$color-primary;
}
.bg-color-3 {
  background-color: vars.$color-accent-gold;
}
.bg-color-4 {
  background-color: vars.$color-primary-deep-dark;
}
.bg-color-5 {
  background-color: vars.$color-light-red;
}

//fondos gradientes (6 al 8)
.bg-color-6-grad {
  background-image: linear-gradient(
    135deg,
    vars.$color-teal,
    color.scale(vars.$color-teal, $lightness: 15%),
    color.scale(vars.$color-teal, $lightness: -15%)
  );
}
.bg-color-7-grad {
  background-image: linear-gradient(
    135deg,
    vars.$color-dark-yellow,
    color.scale(vars.$color-dark-yellow, $lightness: 15%),
    color.scale(vars.$color-dark-yellow, $lightness: -15%)
  );
}
.bg-color-8-grad {
  background-image: linear-gradient(
    135deg,
    vars.$color-pale-pink,
    color.scale(vars.$color-pale-pink, $lightness: 15%),
    color.scale(vars.$color-pale-pink, $lightness: -15%)
  );
}
//====FIN DEL APARTADO DE COLORES DE FONDO=====

/*Clases para el color del texto*/
.text-color-primary-dark{
  color: typography.$text-color-primary-dark;
}
.text-color-primary{
  color: typography.$text-color-primary;
}
.text-color-accent-gold{
  color: typography.$text-color-accent-gold;
}
.text-color-white{
  color: typography.$text-color-white;
}
.text-color-primary-deep-dark{
  color: typography.$text-color-primary-deep-dark;
}
.text-color-brown{
  color: typography.$text-color-brown;
}
.text-color-success{
  color: typography.$text-color-success;
}
.text-color-info{
  color: typography.$text-color-info;
}
.text-color-warning{
  color: typography.$text-color-warning;
}
.text-color-danger{
  color: typography.$text-color-danger;
}