//====INICIO DEL APARTADO DE COLORES DE FONDO=====
@use '../base/variables' as vars;
@use 'sass:color'; //importe del modulo de color

//estilo base para los fondos
%bg-box {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: auto;
  box-sizing: border-box;
  text-align: center;
}

//fondos solidos (1 al 5)
.bg-color-1 {
  @extend %bg-box;
  background-color: vars.$color-1-2;
}
.bg-color-2 {
  @extend %bg-box;
  background-color: vars.$color-2;
}
.bg-color-3 {
  @extend %bg-box;
  background-color: vars.$color-3;
}
.bg-color-4 {
  @extend %bg-box;
  background-color: vars.$color-4;
}
.bg-color-5 {
  @extend %bg-box;
  background-color: vars.$color-6;
}

//fondos gradientes (6 al 8)
.bg-color-6-grad {
  @extend %bg-box;
  background-image: linear-gradient(
    135deg,
    vars.$color-7,
    color.scale(vars.$color-7, $lightness: 15%),
    color.scale(vars.$color-7, $lightness: -15%)
  );
}
.bg-color-7-grad {
  @extend %bg-box;
  background-image: linear-gradient(
    135deg,
    vars.$color-8,
    color.scale(vars.$color-8, $lightness: 15%),
    color.scale(vars.$color-8, $lightness: -15%)
  );
}
.bg-color-8-grad {
  @extend %bg-box;
  background-image: linear-gradient(
    135deg,
    vars.$color-9,
    color.scale(vars.$color-9, $lightness: 15%),
    color.scale(vars.$color-9, $lightness: -15%)
  );
}
//====FIN DEL APARTADO DE COLORES DE FONDO=====