@use '../base/variables';
/*Clases para agregar sombras a elementos*/
.shadow-sm{
    box-shadow: variables.$shadow-sm;
}
.shadow-md{
    box-shadow: variables.$shadow-md;
}
.shadow-lg{
    box-shadow: variables.$shadow-lg;
}