@use '../base/variables';
/*Prefijos para mt, mb, ms, me pt, pb, ps, pe:
t = top
b = bottom
s = start (left)
e = end (right)
Clases para los márgenes y paddings*/
@each $key, $value in variables.$spacer{
    .m-#{$key}{
        margin: $value;
    }
    .p-#{$key}{
        padding: $value;
    }

    .mt-#{$key}{
        margin-top: $value;
    }
    .mb-#{$key}{
        margin-bottom: $value;
    }
    .ms-#{$key}{
        margin-left: $value;
    }
    .me-#{$key}{
        margin-right: $value;
    }

    .pt-#{$key}{
        padding-top: $value;
    }
    .pb-#{$key}{
        padding-bottom: $value;
    }
    .ps-#{$key}{
        padding-left: $value;
    }
    .pe-#{$key}{
        padding-right: $value;
    }
}