/* _typography.scss */

/* Tipografías */
$font-primary: 'Cormorant Garamond', serif;  // Elegante para títulos
$font-secondary: 'Lato', sans-serif;         // Clara y legible para texto base

/* Tamaños de fuentes */
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-44: 44px;
$font-size-46: 46px;
$font-size-48: 48px;
$font-size-50: 50px;

/* Pesos de fuentes */
$font-weight-light: 300;    // Ligero
$font-weight-regular: 400;  // Regular
$font-weight-semibold: 600; // Semibold
$font-weight-bold: 700;     // Negrita

/* Colores de texto */
$text-color-primary: $color-white;         // Blanco para el texto principal
$text-color-secondary: $color-primary;    // Morado para subtítulos o textos secundarios
$text-color-muted: #a29eb6;               // Gris para textos menos destacados
$text-color-dark: #000000;                // Color negro 
