@use 'variables';
/* _typography.scss */

/* Tipografías */
$font-primary: 'Cormorant Garamond', serif;  // Elegante para títulos
$font-secondary: 'Lato', sans-serif;         // Clara y legible para texto base

/* Tamaños de fuentes de 10 a 50 pixeles*/
@for $i from 10 through 50 {
    .fs-#{$i}{
        font-size: #{$i}px;
    }
}

/* Pesos de fuentes */
$font-weight-light: 300;    // Ligero
$font-weight-regular: 400;  // Regular
$font-weight-semibold: 600; // Semibold
$font-weight-bold: 700;     // Negrita

/* Colores de texto */
$text-color-primary-dark: variables.$color-primary-dark;            //Morado oscuro profundo
$text-color-primary: variables.$color-primary;                      //Morado Base
$text-color-accent-gold: variables.$color-accent-gold;              //Dorado elegente
$text-color-white: variables.$color-white;                          //Blanco neutro
$text-color-primary-deep-dark: variables.$color-primary-deep-dark;  //Casi negro morado
$text-color-brown: variables.$color-brown;                          //Marrón cálido
$text-color-success: variables.$alert-success;                      //Verde suave
$text-color-info: variables.$alert-info;                            //Celeste                                            
$text-color-warning: variables.$alert-warning;                      //Amarillo suave                      
$text-color-danger: variables.$alert-danger;                        //Rojo claro                      

/*Clases para los pesos del texto*/
.text-light{
    font-weight: $font-weight-light;
}
.text-regular{
    font-weight: $font-weight-regular;
}
.text-semibold{
    font-weight: $font-weight-semibold;
}
.text-bold{
    font-weight: $font-weight-bold;
}

/*Clases para modificar el color del texto*/
.text-primary-dark{
    color: $text-color-primary-dark;
}
.text-primary{
    color: $text-color-primary;
}
.text-accent-gold{
    color: $text-color-accent-gold;
}
.text-white{
    color: $text-color-white;
}
.text-primary-deep-dark{
    color: $text-color-primary-deep-dark;
}
.text-brown{
    color: $text-color-brown;
}
.text-success{
    color: $text-color-success;
}
.text-info{
    color: $text-color-info;
}
.text-warning{
    color: $text-color-warning;
}
.text-danger{
    color: $text-color-danger;
}